set default=0
set timeout=5

# NegativeOS GRUB config — BIOS + UEFI hybrid

menuentry "NegativeOS (Live)" {
    linux   /live/vmlinuz boot=live quiet splash
    initrd  /live/initrd.img
}

menuentry "NegativeOS (Live - Safe Mode)" {
    linux   /live/vmlinuz boot=live nomodeset xforcevesa quiet
    initrd  /live/initrd.img
}

menuentry "NegativeOS Installer" {
    linux   /live/vmlinuz boot=live install quiet splash
    initrd  /live/initrd.img
}

menuentry "Boot from first hard disk" {
    chainloader +1
}
