DEFAULT live
PROMPT 0
TIMEOUT 50

LABEL live
    MENU LABEL NegativeOS (Live)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live quiet splash

LABEL safe
    MENU LABEL NegativeOS (Live - Safe Mode)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live nomodeset xforcevesa quiet

LABEL install
    MENU LABEL NegativeOS Installer
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live install quiet splash
