# NegativeOS Buildroot config — x86_64
# Run: make negativeos_x86_64_defconfig

# Architecture
BR2_x86_64=y
BR2_x86_generic=y
BR2_X86_CPU_HAS_SSE=y
BR2_X86_CPU_HAS_SSE2=y

# Toolchain
BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_VERSION_14_X=y

# Kernel
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_LATEST_VERSION=y
BR2_LINUX_KERNEL_USE_DEFCONFIG=y
BR2_LINUX_KERNEL_DEFCONFIG="x86_64"
BR2_LINUX_KERNEL_BZIMAGE=y

# Init
BR2_INIT_RUNIT=y
BR2_PACKAGE_RUNIT=y

# Core userspace
BR2_PACKAGE_BUSYBOX=y
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_UTIL_LINUX=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_DOSFSTOOLS=y

# Bootloader
BR2_TARGET_GRUB2=y
BR2_TARGET_GRUB2_I386_PC=y
BR2_TARGET_GRUB2_X86_64_EFI=y

# Package manager
BR2_PACKAGE_APK_TOOLS=y

# Xorg + IceWM
BR2_PACKAGE_XORG7=y
BR2_PACKAGE_XSERVER_XORG_SERVER=y
BR2_PACKAGE_ICEWM=y
BR2_PACKAGE_SLIM=y

# Core apps
BR2_PACKAGE_PCMANFM=y
BR2_PACKAGE_RXVT_UNICODE=y
BR2_PACKAGE_MOUSEPAD=y
BR2_PACKAGE_GPICVIEW=y
BR2_PACKAGE_XARCHIVER=y

# Networking
BR2_PACKAGE_NETWORKMANAGER=y
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_SAMBA4=y

# Audio
BR2_PACKAGE_PIPEWIRE=y

# Browser
BR2_PACKAGE_PALEMOON=y

# Firmware
BR2_PACKAGE_LINUX_FIRMWARE=y
BR2_PACKAGE_NDISWRAPPER=y

# Build options
BR2_OPTIMIZE_2=y
BR2_STRIP_strip=y
BR2_TARGET_ROOTFS_SQUASHFS=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
