[Desktop Entry]
Version=1.0
Type=Application
Name=Pale Moon
GenericName=Web Browser
Comment=Browse the World Wide Web
Exec=palemoon %u
Icon=/opt/palemoon/browser/icons/mozicon128.png
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Pale moon
